<!DOCTYPE html>
<html>
    <head>
        <title>Matthew's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Matthew's Blog</a></h1>
        </header>

        <article>
            <time>published: 30.06.2023, 2:40</time>
            <h2><a href="">My First Post</a></h2>
            <p>Veni, Vidi, Vici!</p>
        </article>

        <article>
            <time>published: 30.06.2023, 2:40</time>
            <h2><a href="">My Second Post</a></h2>
            <p>Music is life.</p>
        </article>
    </body>
</html>