<!DOCTYPE html>
<html>
    <head>
        <title>Matthew's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Matthew's Blog</a></h1>
        </header>

        {% for post in posts %}
        <article>
            <time>published: 30.06.2023, 2:40</time>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
        {% endfor %}
        <article>           
            <!-- <time>published: 30.06.2023, 2:40</time>
            <h2><a href="">My Second Post</a></h2>
            <p>Music is life.</p> -->
        </article>
    </body>
</html>